@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FavoritC";
  src: url("../public/fonts/FavoritC.woff2") format("woff2");
}
@font-face {
  font-family: "FavoritLightC";
  src: url("../public/fonts/FavoritLightC.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "FavoritLightC";
  src: url("../public/fonts/FavoritLightC-Italic.woff2") format("woff2");
  font-style: italic;
}

@font-face {
  font-family: "RecklessNeue";
  src: url("../public/fonts/RecklessNeue-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "RecklessNeueBook";
  src: url("../public/fonts/RecklessNeue-Book.woff2") format("woff2");
}
:root {

  --black: #222224;
  --light-black:#3A3A3A;  
  --light-gray: #DBDBCC;
  --dark-gray: #CFCCC3; 
  --yellow: #F5F500;
  --red:#A81818;
  --green:#32C286; 
}

html{
  min-height:100vh;
  background-image: url("../public/images/website_background.svg"); 
  color: black; 
  font-family: "FavoritC";
}

body{
  padding: 2rem 4rem;
  min-height: 100vh;
  overflow-y:scroll; 
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
