@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color-dark: rgb(40, 40, 40)
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html{
  min-height:100vh; 
}

html, body{
  background-color: var(--background-color-dark);
}
body{
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2rem;
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
